body {
  position: relative;
  background-color: black;
}
#header {
  position: absolute;
  font-weight: bold;
  font-size: 10vmax;
  color: aqua;
  left: 30vw;
  top: 10vh;
}
#time {
  position: relative;
  color: yellow;
  font-size: 8vmax;
  top: 30vh;
  left: 20%;
}

#seconds,
#semicolon1,
#semicolon2,
#milliseconds,
#minutes {
  color: white;
  font-size: 8vmax;
  position: relative;
  top: 30vh;
  left: 25%;
}
#go {
  color: white;
  display: none;
  position: absolute;
  font-size: 5vmax;
  left: 45vw;
  top: 80vh;
}

#semicolon1,
#minutes {
  display: none;
}

#meanOfFive {
  color: orange;
  font-size: 8vmax;
  position: absolute;
  top: 40vh;
  left: 42vw;
}
#averageOfFive {
  color: orange;
  font-size: 8vmax;
  position: absolute;
  left: 42vw;
  top: 50vh;
}
